/* Estilos para a página de configurações */
#mp-split-vendor-settings {
    padding: 20px;
}

#mp-split-vendor-settings h2 {
    font-size: 24px;
}

#mp-split-vendor-settings input {
    width: 100%;
    padding: 8px;
}
